.spacer {
  flex: 1 1 auto;
}

.appsMenuIcon {
  width: 24px;
  fill: white;
}

.menu-icon-big {
  color: var(--color-confirmar);
  font-size: 24px;
  display: inline-block;
  height: 24px;
  vertical-align: top;
  width: 32px;
}

.menu-icon-medium {
  color: var(--color-confirmar);
  font-size: 16px;
  display: inline-block;
  margin-right: 8px;
}

.menu-item-link {
  color: rgba(0, 0, 0, .87);
  text-decoration: none;
}

.menu-item-container {
  display: inline-flex;
  margin-left: 8px;
  margin-top: 8px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding-right: auto;
}