<td-navigation-drawer flex sidenavTitle="Prodis" name="userName">
  <mat-nav-list>
    <!--a mat-list-item><mat-icon>home</mat-icon>Home</a-->
    <!--a mat-list-item tdLayoutToggle><mat-icon>close</mat-icon>Cerrar menú</a-->
    <app-apps-menu></app-apps-menu>
  </mat-nav-list>

  <div td-navigation-drawer-menu>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>vpn_key</mat-icon>Cambiar contraseña
      </a>
      <a mat-list-item>
        <mat-icon>account_box</mat-icon>Cerrar sesión
      </a>
    </mat-nav-list>
  </div>

</td-navigation-drawer>