<!-- INSERT TD NOTIFICATION BANNER HERE -->
<td-message *ngIf="showConfirm==true" label="Bien!" sublabel="{{notificationBannerText}}" color="primary" icon="done">
    <button td-message-actions mat-icon-button (click)="hideNoticationBanner()">
        <mat-icon>cancel</mat-icon>
    </button>
</td-message>


<td-message *ngIf="showErrorBanner==true" label="Oops!" sublabel="{{errorBannerText}}" color="warn" icon="done">
    <button td-message-actions mat-icon-button (click)="showErrorBanner=false">
        <mat-icon>cancel</mat-icon>
    </button>
</td-message>

<!--td-message *ngIf="showErrorBanner==true" label="Oops!" sublabel="Se ha producido un error " color="warn" icon="alert">
    <button td-message-actions mat-icon-button (click)="hideNoticationBanner()">
        <mat-icon>cancel</mat-icon>
    </button>
</td-message-->

<div class="description-container">
    <div class="description-row-1">
        <h2 class="row1-title">Autogestion de credenciales - Cambio de contraseña</h2>
        <mat-accordion>
            <mat-expansion-panel style="width: 98%;" [expanded]="helpPanelExpanded==true" (opened)="helpPanelExpanded=true" (closed)="helpPanelExpanded=false" hideToggle>
              <mat-expansion-panel-header>
                <!--mat-panel-title>
                    <span *ngIf="helpPanelExpanded==false">Click para ver ayuda</span>
                    <span *ngIf="helpPanelExpanded==true">Click para ocultar ayuda</span>
                </mat-panel-title-->
                <mat-panel-description>
                  
                  <mat-icon color="primary" style="position:absolute; right: 36px; bottom:12px;">help</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
                  <div>
                    <div style="width: 100%;">    
                        <mat-icon color="warn">error</mat-icon>
                        <span style="color:#e53935; font-size:16px; font-weight: 500;" >La nueva clave...</span>
                    </div>
                          <li>Debe tener entre 8 y 12 caracteres.</li>
                          <li>Debe contener al menos 1 mayuscula, 1 minuscula y 1 numero.</li>
                          <li>No puede contener el ID del usuario.</li>
                          <li>Debe ser distinta a las 12 anteriores.</li>
                  </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="form-div">
        <div style="width:100%; display:block; text-align:left;">
            <span style="display:inline-grid; width: 50%;">
            <mat-form-field appearance="standard" style="width: 250px; display:block">
                <mat-label>Su contraseña actual</mat-label>
                <input id="oldField" class="passwordField" autofocus type="password" matInput [(ngModel)]="oldPassword">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 250px; display:block">
                <mat-label>Su nueva contraseña</mat-label>
                <input id="newField" class="passwordField" matInput type="password" [(ngModel)]="newPassword">
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 250px; display:block">
                <mat-label>Repita su nueva contraseña</mat-label>
                <input id="newRepeatField" class="passwordField" matInput type="password" [(ngModel)]="newPasswordConfirm">
                <mat-hint *ngIf="newPasswordsMatch==false" style="color:red;">{{newPassValidateError}}</mat-hint>
            </mat-form-field>
        </span>

        <span class="errors-panel" id="errors-container" *ngIf="errors.length > 0">
            <h3>Corrija los errores antes de continuar</h3>
            <li *ngFor="let error of errors" style="font-size: 12px; color:#e53935;">{{error}}</li>
        </span>

        </div>
        
    </div>
    <div class="buttons-row">
        <button *ngIf="passwordsVisibles==false" mat-button style="display:inline; width:150px;" (click)="togglePasswordsVisibility()">
            <mat-icon>visibility</mat-icon>Ver
        </button>

        <button *ngIf="passwordsVisibles==true" mat-button style="display:inline;width:150px;" (click)="togglePasswordsVisibility()">
            <mat-icon>visibility_off</mat-icon>Ocultar
        </button>


        <!--button mat-button [disabled]="newPassHasErrors==false" (click)="changeMyPassword();" style="color:#008e8b; display:inline"-->
        <button mat-button (click)="changeMyPassword();" style="color:#008e8b; display:inline">
            <mat-icon>check</mat-icon> Cambiar contraseña
        </button>


        <button routerLink='/dashboard' mat-button color="warn" style="display:inline">
            <mat-icon>close</mat-icon> Cancelar
        </button>




    </div>
</div>