.description-container {
    width: 50%;
    height: 80vh;
    overflow: visible;
    position: relative;
    left: 25%;
    background-color: var(--text-color-light);
    border-radius: 8px;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    padding-left: 16px;
    margin-top: 24px;
}

.description-row-1 {
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.form-div {
    letter-spacing: .01428571em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #3c4043;
}

.row1-title {
    font-size: 1.375rem;
    font-weight: 400;
    margin-top: 24px;
    letter-spacing: 0;
    line-height: 1.75rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
}

.row1-subtitle {
    display: block;
    letter-spacing: .01428571em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin: 0;
    padding: 8px 0 0 0;
}

.buttons-row {
    width: 80%;
    position: absolute;
    bottom: 0px;
    left: 10%;
    text-align: center;
}

.errors-panel {
    display: inline-grid;
    width: 47%;
    //border:1px solid gray;
    //border-radius: 8px;
    padding: 0px;
}

::ng-deep .error-description {
    color: red;
}